:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  text-align: center;
}

div {
  margin-top: 2.5%;
  margin-left: 44%;
}


.cardshape {
  border: 0.1rem solid black;
  height: 7rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center
}
/* 
.hide {
  display: none;} */